@font-face {
  font-family: 'Work Sans';
  src: url('https://fonts.googleapis.com/css?family=Work+Sans');
}

$light-gray: #777;
$dark-gray: #444;
$box-shadow: 0 1px 4px 0 #ccc;
$default-indent: 15px;
$sm-indent: 5px;
$default-border: 1px solid #ccc;
$default-border-radius: 8px;
$icon-size: 30px;

@mixin item-btn {
  flex: 0 0 50px;
  height: 50px;
  padding: 0;
  border: $default-border;
  border-radius: $default-border-radius;
  background: transparent;

  &:hover {
    box-shadow: $box-shadow;

    svg {
      color: $dark-gray;
    }
  }

  svg {
    width: $icon-size;
    height: $icon-size;
    color: $light-gray;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.view {
  &_wrap {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    padding: $default-indent 0;
  }

  &_title {
    margin-bottom: $default-indent;
    align-self: center;
    color: $dark-gray;
  }
}

.contact {
  &_list {
    list-style: none;
    margin: 0;
    padding: $default-indent;
    border: $default-border;
    box-shadow: $box-shadow;
    overflow-y: auto;
  }

  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $default-border;

    &:last-child {
      border-bottom: none;
    }

    dt {
      margin-bottom: $sm-indent;
    }

    dd {
      margin: 0;
      color: $light-gray;
    }
  }

  &_btn {
    &-delete {
      @include item-btn;
    }
  }
}

.search_field {
  margin-bottom: $default-indent;
  padding: $default-indent;
  border: $default-border;
  border-radius: $default-border-radius;

  &:hover {
    box-shadow: $box-shadow;
  }
}